<html>
    <head>
        <title>TeamProjectApp</title>
		<style>
		body {
			background-color: white;
		}
		table, th, td {
			border:1px solid black;
			color: black;
		}
		h1, h2 {
			color: black;
			text-align: center;
		}
		.tableheader {
			font-weight:bold;
			font-size:20px;
		}
		.htmlRows {
			font-weight:normal;
			font-size:16px;
		}
		</style>
    </head>
    <body>
        <h1>Team 8 - Laser Tag Program</h1>
		<h2>Database Inquiry</h2>
		<table style="width:100%">
			<tr>
				<th class="tableheader">ID</th>
				<th class="tableheader">First Name</th>
				<th class="tableheader">Last Name</th>
				<th class="tableheader">Codename</th>
			</tr>
			{% for col in rows: %}
			<tr>
				{% for i in col: %}
				<th class="htmlRows">{{ i }} </th>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
    </body>
</html>